[Desktop Entry]
Version=1.0
Type=Application
Name=TKMM
Comment=TotK Mod Manager
Exec=Tkmm %u
Icon=tkmm
MimeType=x-scheme-handler/tkmm;
Categories=Game;
Terminal=false
StartupNotify=true
